<?xml version="1.0" encoding="UTF-8"?>

<mapper namespace="com.starter.common.lib.example.dao.IStudentDao">

    <select id="queryStudentByName" parameterType="java.lang.String" resultType="com.starter.common.lib.example.domain.Student">
        SELECT name, nickname, sex, age
        FROM student
    </select>

</mapper>