<?xml version="1.0" encoding="UTF-8"?>

<mapper namespace="com.starter.common.lib.example.dao.IStudentDao">

    <select id="queryStudentById" parameterType="java.lang.Long" resultType="com.starter.common.lib.example.domain.Student">
        SELECT id, name, nickname, sex, age
        FROM student
        where id = #{id}
    </select>

</mapper>